#nav 
{
    background-color: #1f1f1f;
    height: 60px;
}
.nav-content 
{
    display: flex;
    flex-direction: row;
    padding: 4px;
    position: absolute;
}
#nav-logo
{
    width: 50px;
    height: 50px;
}
.nav-link
{
    margin: 14px;
    font-size: 20px;
}
.nav-link>a:visited, .nav-link>a
{
    color: #c3c3c3;
}
.nav-link> a:hover
{
    color: #ff7615;
}

/*BOUTON NAV RESPONSIVE*/
.bouton-menu 
{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    float: left;
    margin: 10px;
    display: none;
    }
    .bouton-menu span {
    height: 3px;
    background-color: #c3c3c3;
    width: 100%;
    position: absolute;
    top: 15px;
    }
    .bouton-menu span:before
    {
    content: '';
    height: 3px;
    background-color: #c3c3c3;
    width: 100%;
    position: absolute;
    top: -10px;
    }
    .bouton-menu span:after
    {
    content: '';
    height: 3px;
    background-color: #c3c3c3;
    width: 100%;
    position: absolute;
    top: 10px;
    }

@media screen and (max-width: 800px){
    /*BOUTON*/
    .bouton-menu
    {
        display: block;
    }
    .nav-content
    {
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #1f1f1f;
        position: absolute;
        margin-top: 60px;
        margin-left: 0px;
        display: none;
    }
    .active
    {
        display: block;
    }
}
